<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        @RenderSection("Title")
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/base.css")" />
		<link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        
		<script type="text/javascript" src="@Url.Content("~/content/data-service.js")"></script>
    </head>
    <body>
        @Html.Partial("partials/topnav.cshtml", Model)
        @RenderBody()
    </body>
</html>
