<!DOCTYPE html>
<html>
    <head>
        @RenderSection("Title")
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/base.css")" />
        <link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/sunny/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/fullcalendar.css")" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        <script type="text/javascript" src="@Url.Content("~/content/string-extensions.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/content/fullcalendar.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/content/data-service.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/content/jquery.deletebutton.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/content/number-picker.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/content/time-selector.js")"></script>
    </head>
    <body>
        @Html.Partial("partials/topnav.cshtml", Model)
        <div id="content">
            @RenderBody()
        </div>
        <script type="text/javascript">
            $("input[type=submit],:button").button();
        </script>
    </body>
</html>
